
# Clone the Repo
https://github.com/sachinsenal0x64/host-hifi-restapi-on-vercel
# Rename .env-example
cd host-hifi-restapi-on-vercel
mv .env-example .env
# Build the Docker image
docker build -t host-hifi-restapi-on-vercel .
# Run the Docker contaer
docker run --env-file .env -p 8000:8000 host-hifi-restapi-on-vercel


CLIENT_ID= zU4XHVVkc2tDPo4t
CLIENT_SECRET= VJKhDFqJPqvsPVNBV6ukXTJmwlvbttP7wlMlrc72se4=
TIDAL_TOKEN= eyJraWQiOiJ2OU1GbFhqWSIsImFsZyI6IkVTMjU2In0.eyJ0eXBlIjoibzJfY
WNjZXNzIiwidWlkIjoyMDQ3OTU5NzIsInNjb3BlIjoid19zdWIgd191c3Igcl9
1c3IiLCJnVmVyIjowLCJzVmVyIjowLCJjaWQiOjMyMzUsImV4cCI6MTc1NDYyM
jk5OCwic2lkIjoiMTE5NDQ5YzAtNjFkYy00NGU2LWJhYWEtY2FjNTJlZjYwYjh
iIiwiaXNzIjoiaHR0cHM6Ly9hdXRoLnRpZGFsLmNvbS92MSJ9.1A-qfh4BWKyp
73OqMqAuATQJNRXZ5EPL4wf6-iySCSOU3PWS0dpVg5jDYE8_9SzNhoAxchBl0S
wHs3mgrVGmKg
TIDAL_REFRESH= eyJraWQiOiJoUzFKYTdVMCIsImFsZyI6IkVTNTEyIn0.eyJ0eXBlIjoibzJfc
mVmcmVzaCIsInVpZCI6MjA0Nzk1OTcyLCJzY29wZSI6Indfc3ViIHdfdXNyIHJ
fdXNyIiwiY2lkIjozMjM1LCJzVmVyIjowLCJnVmVyIjowLCJpc3MiOiJodHRwc
zovL2F1dGgudGlkYWwuY29tL3YxIn0.AEbCOhFypWCUgzMVwT7HofHaXibmxC9
EvpS-1QuEtw2X_Ezu5rcP_yZzb5mYvV7EXRBGiKfZqoO3WA_w2Ce8fV8wAGAcz
RrRWJtruwwU7pDxYpTbBCP1qbPR-2NgwFu6YRJsJTYhi8nbkck3Cfl0_9SXQMn
IdaGx__j_eP7rnmgq9Cgt
REDIS_URL=
REDIS_PORT=
REDIS_PASSWORD=
USER_ID= 204795972
